.background-1{
  background: rgba(254, 201, 50, .95);
  width: 800px;
  height:600px;
  border: 1px solid white;
  border-radius:20px;
  padding:40px;
  
  
}
.box{
  background: #1189CE;
  height:100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center !important;
 
}

h3{
  text-align:center;
  color:black;
  font-size:20px;
  font-weight:normal;
  text-transform: uppercase;
  
}

  img{
  width:85px;
  height:85px;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
ul li{
  margin: 20px;
  padding:20px;
  border: 1px solid white;
  border-radius:20px;
  width: 240px;
  height:50px;
  font-size: 18px;
  background-color:transparent;
  
}

ul li:hover{
  padding: 30px;
  border: 2px solid white;
}

@media (max-width: 768px){
  .box{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center !important;
    
   
  }
  .background-1{
    width: 400px;
    height:800px;
    border-radius:20px;
    padding:40px;
    margin-top: 10px;
    margin-bottom:10x;   
  }
  h3{
    text-align:center;
    color:black;
    font-size:16px;
    font-weight:normal;
    text-transform: uppercase;
  }
  
}