
.box{  
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center !important;
  flex-direction: column !important;
}

h3{
  text-align:center;
  color:white;
  font-size:20px;
  font-weight:normal;
  text-transform: uppercase;
  
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
 
}
ul li{
  margin: 10px;
  padding:20px;
  font-size: 20px;
  background-color:transparent;
  color: white;
  justify-content: center;
  align-items:center;
  cursor: pointer;
  
}

ul li:hover{
  padding: 15px;
  border: 2px solid white;
  color:white
}



@media (max-width: 768px){
  .box{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center !important;
    
   
  }
  
  h3{
    text-align:center;
    color:white;
    font-size:16px;
    font-weight:normal;
    text-transform: uppercase;
  }
  
}

